<h1>List of all appointments</h1>
<table class="app-table">
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Client Name</th>
      <th>Appointment Date</th>
      <th>Type of Service</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td id="artist-name"></td>
        <td id="client-name"></td>
        <td id="app-date"></td>
        <td id="app-service"></td>
      </tr>
    </tbody>
  </table>
